@page "/createaccount"
<style>
    h1
    {
        text-align: center;
        font-size: 30px;
    }

    .btn-crear
    {
        background-color: #00913f;
    }
    .cont-btn
    {
        text-align:center;
        margin-top:30px;
    }
    .inputs
    {
        border:solid 2px;
        border-radius:20px;
        border-color:#dec783;
    }
</style>
<h1>Create your new account</h1>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input placeholder="Email"
               type="email"
               class="form-control inputs"
               id="exampleInputEmail1"
               aria-describedby="emailHelp" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
            <input type="password" id="password" class="form-control inputs" placeholder="Password">
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="input-group mb-3" style="margin-top:20px;">
        <div class="input-group-prepend">
            <span class="input-group-text">29</span>
        </div>
        <input type="text" class="form-control inputs" placeholder="User name">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Men" @onclick="() => SexoSeleccionado('M')" />
        <label class="form-check-label">
            Men
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Women" @onclick="() => SexoSeleccionado('W')" />
        <label class="form-check-label">
            Women
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" value="Other" @onclick="() => SexoSeleccionado('O')" />
        <label class="form-check-label">
            Other
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sexo" @onclick="() => SexoSeleccionado('N')" />
        <label class="form-check-label">
            Prefer not to say
        </label>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Date of birth</label>
        <input placeholder="Fecha de nacimiento"
               type="date"
               class="form-control inputs"
               id="fechaNacimiento" />
    </div>
    <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02">
            <label class="custom-file-label" for="inputGroupFile02">Upload a profile image</label>
        </div>
    </div>
    <div class="cont-btn">
    <button type="button" class="btn btn-primary btn-crear">Create account</button>
    </div>
</form>

@code {
    char selectedGender;
  
   private void SexoSeleccionado(char gender)
    {
        selectedGender = gender;
    }

}
