@page "/recoverpassword"
<style>
    h1
    {
        font-size:30px;
    }

    .inputs {
        border-radius: 20px;
        border: solid 3px #dec783;
    }
    .btn-enviar
    {
        background-color: #008f9c;
        border-radius:20px;
        width:150px;
        color:#ffff;
    }
    form
    {
        margin-top:20px;
    }
</style>
<h1>
    Dont`t worry, we will help you
    recover your password
    <small class="text-muted">Fill out the form to complete the transaction.</small>
</h1>
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email"
               class="form-control inputs"
               id="exampleInputEmail1"
               placeholder="Email address"
               aria-describedby="emailHelp" />
    </div>
        <div class="form-group">
        <label for="recovery_key">Recovery Key</label>
            <div class="input-group">
                <input type="text" id="recovery_key" class="form-control inputs" placeholder="Recovery Key">
            </div>
        </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
            <input type="text" id="password" class="form-control inputs" placeholder="Password">
            <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div style="text-align:center; margin-top:50px;">    
        <button class="btn-enviar">Send</button>
    </div>

        </form>

